
<div ng-controller="EAToMysqlCtrl as ctrl" ng-cloak ng-init="ctrl.init()">
    <ol class="breadcrumb">
        <li><a ng-href="index.html#/selectAdapter">Select adapter</a></li>
        <li class="active">EA adapter</li>
    </ol>
    <div class="panel panel-default" id="ea-connect">
        <div class="panel-heading">Import from EA</div>
        <div class="panel-body">
            <file-select></file-select>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Mapping configuration</div>
        <div class="panel-body">
            <div id="mapper" class="container-fluid">
                  <mapper></mapper>
            </div>
        </div>
    </div>
    <execute></execute>

</div>

