<div class="panel" ng-hide="hidden">
    <div class="panel-body">
       <button type="button" class="btn btn-primary" ng-click="execute()">Start execution</button>
    </div>
</div>

<div class="panel panel-default" ng-if="infoMessage.length>0">
    <!--ng-if="status='started'"-->
    <div class="panel-heading">Logs</div>
    <div class="panel-body">
        <p>{{infoMessage }}</p>
        <div class="alert alert-danger" role="alert" ng-show="db_record_error_logs_exists">
            <div ng-repeat="(key, value) in db_record_error_logs">
                <div> {{ value }} error(s) were traced in the table  {{key}}  </div>
            </div>
        </div>
        <div class="alert alert-info" role="alert" ng-show="db_record_success_logs_exists">
            <div ng-repeat="(key, value) in db_record_success_logs">
                <div> {{ value }} record(s) were added to the table  {{key}}  </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <button type="button" class="btn btn-primary" ng-click="">All data is uploaded, take me to the dashboard!</button>
            <a ng-href="index.html#/selectAdapter" ng-click="clean()">I want use other adapters to upload the data</a>

        </div>
    </div>
</div>

