<div ng-controller="excelToSCCtrl as ctrl" ng-cloak id="excelToSC">
    <ol class="breadcrumb">
        <li><a ng-href="index.html#/selectAdapter">Select adapter</a></li>
        <li class="active">Excel to SocioCortex adapter</li>
    </ol>

    <uib-tabset>
        <uib-tab heading="Configuration" id="config">
            <div class="panel panel-default">
                <div class="panel-heading">Import from Excel</div>
                <div class="panel-body">
                    <excel-select dataFactoryName="ctrl.dataFactoryName"></excel-select>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-9">
                            Export to SocioCortex
                        </div>
                        <div class="col-md-3">
                            <sc-create-workspace></sc-create-workspace>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <sc-select-workspace></sc-select-workspace>
                </div>
            </div>
        </uib-tab>

        <uib-tab heading="Mapping" id="mapper" active="activeTab == 'mapper'">
            <excel-sc-mapper ng-if="activeTab == 'mapper'"></excel-sc-mapper>
        </uib-tab>

        <uib-tab heading="Execution" id="execution" active="activeTab == 'execution'">
            <excel-sc-transformer ng-if="activeTab == 'execution'"></excel-sc-transformer>
        </uib-tab>
    </uib-tabset>
</div>