<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Configurator</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tool1Modal">
      Tool 1 Meta data
    </button>

    <!-- Modal -->
    <div class="modal fade" id="tool1Modal" tabindex="-1" role="dialog" aria-labelledby="tool1Label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tool1Label">Configure Tool 1</h4>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="source">Source</label>
                <select class="form-control" id="source" ng-model="source">
                  <option>REST/JSON</option>
                  <option>Excel</option>
                  <option>Relational Database</option>
                  <option>Document Database</option>
                </select>
              </div>

              <div ng-if="source == 'Excel'">
                  <form enctype="multipart/form-data">
                    <input class="btn btn-primary" id="excelFile" type="file" ng-model="excelFile" onchange="angular.element(this).scope().readExcelFile()" multiple/>
                  </form>
                  <br /><br />
              </div>

              <div class="form-group" ng-if="source != 'Excel'">
                <label for="baseUrl">Base Url</label>
                <input type="text" class="form-control" id="baseUrl" placeholder="http://" ng-model="t1BaseUrl" />
              </div>
              <div class="form-group" ng-if="source != 'Excel'">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" placeholder="mustermann" ng-model="t1UserName" />
              </div>
              <div class="form-group" ng-if="source != 'Excel'">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="t1Password" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveT1MetaData()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadM1Modal" title="Upload a model">
      <span class="glyphicon glyphicon-upload"></span>
    </button>
    <div class="modal fade" id="uploadM1Modal" tabindex="-1" role="dialog" aria-labelledby="model1Label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="uploadM1">Upload a file</h4>
          </div>
          <div class="modal-body">
            <form enctype="multipart/form-data" action="/upload/image" method="post">
              <input id="m1File" type="file" ng-model="m1File" onchange="angular.element(this).scope().readM1File()" multiple/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-6">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#tool2Modal">
      Tool 2 Meta data
    </button>

    <div class="modal fade" id="tool2Modal" tabindex="-1" role="dialog" aria-labelledby="tool2Label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="tool2Label">Configure Tool 2</h4>
          </div>
          <div class="modal-body">
            <form>

              <div class="form-group">
                <label for="target">Target</label>
                <select class="form-control" id="target" ng-model="target">
                  <option>REST/JSON</option>
                  <option>Excel</option>
                  <option>Relational Database</option>
                  <option>Document Database</option>
                </select>
              </div>

              <div class="form-group" ng-show="target == 'Relational Database'">
                <label for="database">Database</label>
                <select class="form-control" id="database" ng-model="database">
                  <option slected>mysql</option>
                </select>
              </div>

              <div class="form-group">
                <label for="t2baseUrl">Base Url</label>
                <input type="text" class="form-control" id="t2baseUrl" placeholder="localhost" ng-model="t2BaseUrl"/>
              </div>

              <div class="form-group">
                <label for="t2userName">User Name</label>
                <input type="text" class="form-control" id="t2userName" placeholder="mustermann" ng-model="t2UserName" />
              </div>

              <div class="form-group">
                <label for="t2password">Password</label>
                <input type="password" class="form-control" id="t2password" placeholder="Password" ng-model="t2Password" />
              </div>

              <div class="form-group" ng-show="target == 'Relational Database'">
                <label for="port">Port</label>
                <input type="text" class="form-control" id="port" placeholder="3306" ng-model="port" />
              </div>

              <div class="form-group" ng-show="target == 'Relational Database'">
                <label for="dbName">Database Name</label>
                <input type="text" class="form-control" id="dbName" placeholder="DB Name" ng-model="dbName" />
              </div>

            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveT2MetaData()">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uploadM2Modal" title="Upload a model">
      <span class="glyphicon glyphicon-upload"></span>
    </button>
    <div class="modal fade" id="uploadM2Modal" tabindex="-1" role="dialog" aria-labelledby="tool2Label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="upload">Upload a file</h4>
          </div>
          <div class="modal-body">
            <form enctype="multipart/form-data" action="/upload/image" method="post">
              <input id="m2File" type="file" ng-model="m2File" onchange="angular.element(this).scope().readM2File()" multiple/>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />
<hr />
<div class="col-lg-12 wrap">
  <canvas id="canvas"></canvas>
  <textarea id="textarea" spellcheck="false"></textarea>
  <div id="linenumbers"></div>
  <div id="canvas-panner"></div>
  <div id="linemarker"></div>

  <br />
  <br />
  <div class="tools">
    <!--
    <button type="button" class="btn btn-default" onclick="javascript:nomnoml.saveModelToFile()" file="model.txt" title="Save the model to file">
      <span class="glyphicon glyphicon-book"></span>
    </button>
    -->
    <button type="button" class="btn btn-default" ng-click="saveModel()" title="Save the model for execution">
      <span class="glyphicon glyphicon-book"></span>
    </button>

    <button type="button" class="btn btn-default" title="Execute this model">
      <a id="executebutton" href="/#/adapter">
        <span class="glyphicon glyphicon-flash"></span>
      </a>
    </button>

    <button type="button" class="btn btn-default" title="Download snapshot of this diagram">
      <a id="savebutton" href="javascript:void(0)" download="model.png">
        <span class="glyphicon glyphicon-camera"></span>
      </a>
    </button>
    <button type="button" class="btn btn-default" title="Shareable link to this diagram">
      <a id="linkbutton" href="javascript:void(0)" target="_blank">
        <span class="glyphicon glyphicon-share"></span>
      </a>
    </button>
    <button type="button" class="btn btn-default" onclick="javascript:nomnoml.discardCurrentGraph()" title="Discard this diagram"><span class="glyphicon glyphicon-trash"></span></button>
    <button type="button" class="btn btn-default" onclick="javascript:nomnoml.saveViewModeToStorage()" title="Save this diagram to local storage"><span class="glyphicon glyphicon-save"></span></button>
    <button type="button" class="btn btn-default" onclick="javascript:nomnoml.exitViewMode()" title="Discard this diagram"><span class="glyphicon glyphicon-log-out"></span></button>

    <div class="canvas-tools" id="canvas-tools">
      <button type="button" title="Zoom in" onclick="javascript:nomnoml.magnifyViewport(2)" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
      <button type="button" title="Reset zoom and panning" onclick="javascript:nomnoml.resetViewport()" class="btn btn-default"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
      <button type="button" title="Zoom out" onclick="javascript:nomnoml.magnifyViewport(-2)" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
    </div>
  </div>

</div>

<script type="text/vnd.nomnoml.class" id="defaultGraph">[TEST]</script>

<script src="../scripts/nomnoml/zepto.min.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="../scripts/nomnoml/dagre.min.js"></script>
<script src="../scripts/nomnoml/skanaar.canvas.js"></script>
<script src="codemirror/codemirror-compressed.js"></script>
<script src="codemirror/nomnoml.codemirror-mode.js"></script>
<script src="../scripts/nomnoml/skanaar.util.js"></script>
<script src="../scripts/nomnoml/skanaar.vector.js"></script>
<script src="../scripts/nomnoml/nomnoml.jison.js"></script>
<script src="../scripts/nomnoml/nomnoml.parser.js"></script>
<script src="../scripts/nomnoml/nomnoml.layouter.js"></script>
<script src="../scripts/nomnoml/nomnoml.renderer.js"></script>
<script src="bower_components/nomnoml/dist/nomnoml.js"></script>
<script src="../scripts/nomnoml/nomnoml.app.js"></script>
