<div ng-controller="excelToMysqlCtrl as ctrl" ng-cloak id="excelToMySql">
    <ol class="breadcrumb">
        <li><a ng-href="index.html#/selectAdapter">Select adapter</a></li>
        <li class="active">Excel to MySql adapter</li>
    </ol>

    <uib-tabset>
        <uib-tab heading="Configuration" id="config">
            <div class="panel panel-default">
                <div class="panel-heading">Import from Excel</div>
                <div class="panel-body">
                    <excel-select dataFactoryName="ctrl.dataFactoryName"></excel-select>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">Export to MySql</div>
                <div class="panel-body">
                    <mysql-config></mysql-config>
                </div>
            </div>
        </uib-tab>

        <uib-tab heading="Mapping" id="mapper" active="activeTab == 'mapper'">
            <excel-mysql-mapper ng-if="activeTab == 'mapper'"></excel-mysql-mapper>
        </uib-tab>

        <uib-tab heading="Execution" id="execution" active="activeTab == 'execution'">
            <excel-mysql-transformer ng-if="activeTab == 'execution'"></excel-mysql-transformer>
        </uib-tab>
    </uib-tabset>
</div>