<div ng-init="init()">
    <br/>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sheets in the excel file</th>
                <th>Concept map to</th>
                <th>Tables in MySql</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in objectMapper">
                <td>{{object.from}}</td>
                <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></td>
                <td>
                    <div ng-show="tables.length > 0">
                    <select style="width: 80%;" ng-options="table for table in tables" ng-model="object.to"></select>
                    <p style="float: right"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#attributeMap_{{object.from}}" title="Create attribute mappings"> >> </button></p>
                        <div class="modal fade" id="attributeMap_{{object.from}}" tabindex="-1" role="dialog" aria-labelledby="attributeMapLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="createAttribteMap">Create attribute map from: {{object.from}} to {{object.to}}</h4>
                                    </div>
                                    <div class="modal-body">

                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Columns in the excel sheet: {{object.from}}</th>
                                                    <th>Attribute map to</th>
                                                    <th>Columns in MySql table: {{object.to}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(attribute, attributeValue) in object.attributes">
                                                    <td>{{object.attributes[attribute].from}}</td>
                                                    <td><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></td>
                                                    <td><select ng-options="column for column in getTableColumnMap(object.to)" ng-model="object.attributes[attribute].to"></select></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <p style="float: right"><button type="button" class="btn btn-primary" ng-click="executeModel()">Start execution</button></p>
    </div>
</div>