<div ng-controller="EAToMysqlCtrl as ctrl" ng-cloak ng-init="ctrl.init()">

    <div class="panel panel-default">
        <div class="panel-heading">Import from EA</div>
        <div class="panel-body">
            <p> Upload your .eap file </p>
            <form enctype="multipart/form-data">
                <input class="btn btn-primary" id="EAFile" type="file" ng-model="EAFile" onchange="angular.element(this).scope().selectEAFile()" multiple/>
            </form>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Export to MySql</div>
        <div class="panel-body">
            <p>Configuration to connect to your MySql</p>
            <div class="form-group">
                <label for="baseUrl">Base Url</label>
                <input type="text" class="form-control" id="baseUrl" placeholder="localhost" ng-model="baseUrl" />
            </div>
            <div class="form-group">
                <label for="port">Port</label>
                <input type="text" class="form-control" id="port" placeholder="3306" ng-model="port" />
            </div>
            <div class="form-group">
                <label for="userName">User Name</label>
                <input type="text" class="form-control" id="userName" placeholder="mustermann" ng-model="userName" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" ng-model="password" />
            </div>

            <button type="button" class="btn btn-primary" ng-click="ctrl.connectToMysql()">Connect</button>

            <br/><br/>

            <div class="panel panel-default" ng-show="ctrl.databases !== null">
                <div class="panel-body">
                    <div class="form-group">
                        <label for="selectDb">Select a database</label>
                        <select id="selectDb" ng-model="database">
                            <option ng-repeat="option in ctrl.databases" value="{{option.Database}}">
                                {{option.Database}}
                            </option>
                        </select>
                    </div>

                    <div>
                        <p>-- OR --</p>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" id="createDb" placeholder="TestDB" ng-model="databaseName" />
                        <button type="button" class="btn btn-primary" ng-click="ctrl.createADatabase()">Create a new database</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

